@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    overflow-y: hidden;
    animation: fadein 0.5s;
}

a {
    color: #ffc107;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #c59502;
    text-decoration: underline;
}

.titlebar {
    display: block;
    position: relative;
    height: 32px;
    padding: 0;
    background: #ffc107;
}

md-input-container .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}

md-toolbar, #titleBar {
    -webkit-user-select: none;
    user-select: none; 
    cursor: default;
}

md-grid-tile {
    transition: all 300ms ease-out 50ms;
}

 md-grid-list {
    height: 100%;
}

md-card-title-text {
    width: 100%;
}

md-card md-card-title md-card-title-text:only-child .md-subhead {
    padding-top: 0;
    line-height: initial;
}

.small-time {
    padding: 5px;
}

.card-overflow {
    position: absolute;
    right: 0;
    top: 10px;
}

.total-container {
    margin-top: 15px;
}

.small-input {
    width: 130px;
}

md-card md-card-title {
    padding-top: 15px;
}

md-card {
    position: relative;
}

md-input-container {
    margin-bottom: 0;
}

md-switch {
    margin-top: 0;
}


md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
    background-color: #ffc107;
    color: #000000;
}

div.md-headline.day-title {
    padding-right: 26px;
}

md-slider-container.week-plan-slider-container {
    min-width: 84px;
}

md-slider-container.week-plan-slider-container md-slider {
    min-height: 175px;
}

md-slider-container>:first-child:not(md-slider), md-slider-container>:last-child:not(md-slider) {
    max-width: none;
}

md-progress-linear.progressing .md-container,
md-progress-linear.not-done .md-container,
md-progress-linear.done .md-container {
    background-color: #757575;
}
md-progress-linear.progressing .md-container .md-bar {
    background-color: #448aff;
}
md-progress-linear.not-done .md-container .md-bar {
    background-color: #bbdefb;
}
md-progress-linear.done .md-container .md-bar {
    background-color: #43a047;
}
md-card md-card-title+md-card-content {
    padding-bottom: 6px;
}
.progress-tooltip {
    width: 100%;
    padding-top: 15px;
}

md-tooltip.md-panel.md-tooltip.md-default-theme, md-tooltip.md-panel.md-tooltip {
    margin-top: 10px;
    background: #171717;
    color: #fafafa;
}

.displayed-week-input {
    min-width: 200px;
}

.copyright {
    font-size: 10px;
    opacity: 0.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wide-input {
    width: 220px;
}

@media (min-width: 960px) {
    #settings-dialog {
        min-width: 700px;
    }
}

.weekplan-slider-container {
    text-align: center;
}

.weekplan-slider-container h5 {
    margin-bottom: 0;
}

.weekplan-slider-container md-switch > div {
    margin: auto;
}
.weekplan-slider-container md-switch > div.md-label {
    display: none;
}

.flex-auto {
    flex: 1 1;
}