<!--<div class="md-subhead">{{selectedDayDetails.key}}</div>-->
<md-dialog aria-label="Day Details">
    <md-toolbar ng-cloak class="toolbar-drag">
        <div class="md-toolbar-tools">
            <h2>{{selectedDayDetails.day.title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content" ng-cloak>
            
            <div class="md-subhead">Time off</div>
            <div layout="row" layout-align="space-between center">
                <div layout="row">
                    <md-input-container class="small-input" flex md-no-float>
                        <label>Pause Time</label>
                        <input placeholder="0" type="number" step="1" ng-model="selectedDayDetails.pausePart.hours" ng-disabled="selectedDayDetails.day.isFuture" ng-change="changePauseTime(selectedDayDetails.key)">
                        <div class="hint">Hours</div>
                    </md-input-container>
                    <md-input-container class="small-input" flex md-no-float>
                        <input placeholder="0" type="number" step="1" min="0" max="59" ng-model="selectedDayDetails.pausePart.minutes" ng-disabled="selectedDayDetails.day.isFuture" ng-change="changePauseTime(selectedDayDetails.key)">
                        <div class="hint">Minutes</div>
                    </md-input-container>
                </div>
                <md-switch ng-model="selectedDayDetails.day.isOff" ng-change="setDayOff(selectedDayDetails.key)" flex>
                    Day Off: {{ selectedDayDetails.day.isOff ? 'Yes' : 'No' }}
                </md-switch>
            </div>

            <div class="md-subhead">Override Time</div>
            <div layout="row" layout-align="space-between center">
                <md-input-container class="small-input" flex>
                    <label>Start Time</label>
                    <input type="text" ng-model="selectedDayDetails.day.overrideStartTime" readonly="readonly" mdp-time-picker mdp-auto-switch="true" ng-change="setOverrideStartTime(selectedDayDetails.key)">
                    <div class="hint">Format: HH:MM</div>
                </md-input-container>
                <md-input-container class="small-input" flex>
                    <label>Stop Time</label>
                    <input type="text" ng-model="selectedDayDetails.day.overrideStopTime" readonly="readonly" mdp-time-picker mdp-auto-switch="true" ng-change="setOverrideStopTime(selectedDayDetails.key)">
                    <div class="hint">Format: HH:MM</div>
                </md-input-container>
            </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" ng-cloak>
        <span flex></span>
        <md-button ng-click="close()" >
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>