<!DOCTYPE html>
<html ng-app="afkCalculator" ng-controller="indexController">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Timesheet Hero</title>
        
        <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css"/>
        <link rel="stylesheet" href="../node_modules/md-pickers/dist/mdPickers.min.css"/>
        <link rel="stylesheet" href="css/titlebarWin.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--<link rel="stylesheet" type="text/less" href="../less/main.less" />-->
    </head>
    <body ng-cloak layout="column">
        <div id="titleBar">
            <div class="titlebar" ng-dblclick="windowMaximize()" ng-include="'titlebarControlsWin.html'">
            </div>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h1 flex md-truncate>Timesheet Hero - {{selectedWeek.format(dateFormat)}}</h1>
                    <md-button class="md-icon-button md-accent md-hue-2" aria-label="New update available" ng-click="showUpdateDialog($event)" ng-if="isUpdateAvailable">
                        <md-tooltip md-direction="bottom">A new update is ready to be installed</md-tooltip>
                        <i class="material-icons">announcement</i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Week Planner" ng-click="showWeekPlan($event); $event.stopPropagation();" ng-mousedown="$event.stopPropagation();">
                        <md-tooltip md-direction="bottom">Week Planner</md-tooltip>
                        <i class="material-icons">tune</i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="showSettings($event); $event.stopPropagation();" ng-mousedown="$event.stopPropagation();">
                        <md-tooltip md-direction="bottom">Settings</md-tooltip>
                        <i class="material-icons">settings</i>
                    </md-button>
                </div>
            </md-toolbar>
        </div>

        <md-content>
            <md-content class="md-padding" layout-xs="column" layout="row">
                <md-card flex-gt-xs="50" layout-align="center center">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Total Time</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content class="md-display-3">
                        {{totals.totalWeekly | formatMomentTimeDurationMS}}
                    </md-card-content>
                    <div class="progress-tooltip">
                        <md-progress-linear ng-class="totals.totalClass" md-mode="determinate" value="{{totals.totalPercent}}"></md-progress-linear>
                    </div>
                </md-card>

                <md-card flex-gt-xs="50" layout-align="center center">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Time Left</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content class="md-display-3">
                        {{totals.totalLeft | formatMomentTimeDurationMS}}
                    </md-card-content>
                    <div class="progress-tooltip">
                        <md-progress-linear ng-class="totals.totalClass" md-mode="determinate" value="{{totals.totalPercent}}"></md-progress-linear>
                    </div>
                </md-card>
            </md-content>

            <md-content class="md-padding" layout-gt-xs="row" layout="column" layout-wrap>
                
                <div ng-repeat="(key, day) in processedData.days" flex="auto" ng-if="!day.isHidden">
                    <md-card>
                        <md-card-title>
                            <md-button class="md-icon-button card-overflow" aria-label="Settings" ng-click="showDayDetails($event, key, day)">
                                <i class="material-icons">more_vert</i>
                            </md-button>
                            <md-card-title-text>
                                <div class="md-headline day-title" md-truncate>
                                    {{day.title}}
                                </div>
                                <div class="md-subhead" md-truncate>{{key}}</div>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div layout="row" layout-align="space-between center">
                                <div class="small-time" flex>
                                    <div class="md-caption">Start</div> 
                                    {{day.time.start | formatMomentTime}}
                                </div>
                                <div class="small-time" flex>
                                    <div class="md-caption">Stop</div> 
                                    {{day.time.stop | formatMomentTime}}
                                </div>
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <div class="small-time" flex>
                                    <div class="md-caption">Pause</div> 
                                    {{day.time.pause | formatHours}}
                                </div>
                                <div class="small-time" flex>
                                    <div class="md-caption">Subtotal</div> 
                                    {{day.total.subtotal | formatMomentTimeDurationMS}}
                                </div>
                            </div>
                            <div class="total-container">
                                <div class="md-caption">Total</div> 
                                <span class="md-display-1">{{day.total.corrected | formatMomentTimeDurationMS}}</span>
                            </div>
                        </md-card-content>
                        <div class="progress-tooltip">
                            <md-progress-linear ng-class="day.total.percentWorkedClass ? day.total.percentWorkedClass : 'not-done'" md-mode="determinate" value="{{day.total.percentWorked}}"></md-progress-linear>
                            <md-tooltip md-direction="top">
                                <span ng-if="day.total.percentWorkedClass === 'done' && day.total.timeOver == 0">Good job, cowboy!</span>
                                <span ng-if="day.total.percentWorkedClass === 'done' && day.total.timeOver > 0">{{day.total.timeOver | formatMomentTimeDurationMS}} over</span>
                                <span ng-if="day.total.percentWorkedClass !== 'done'">{{day.total.timeLeft | formatMomentTimeDurationMS}} left</span>
                                <span ng-if="day.isToday">(Done at {{day.total.timeToLeave | formatMomentTime}})</span><br>aa
                            </md-tooltip>
                        </div>
                    </md-card>
                </div>
            </md-content>
        </md-content>
    </body>
    <script src="index.js"></script>
</html>