<md-dialog aria-label="Settings">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Current Week Settings">
                    <md-content class="md-padding">
                        <div layout-gt-xs="row">
                            <md-input-container class="displayed-week-input">
                                <label>Displayed Week</label>
                                <md-datepicker ng-model="selectedWeekCalendar" md-date-filter="isDateSelectionnable" ng-change="setSelectedWeek()"></md-datepicker>
                            </md-input-container>

                            <div layout="row">
                                <md-input-container class="small-input" flex md-no-float>
                                    <label>Hours to Work</label>
                                    <input placeholder="0" type="number" step="1" ng-model="hoursToWork.hours" ng-change="setHoursToWork()">
                                    <div class="hint">Hours</div>
                                </md-input-container>
                                <md-input-container class="small-input" flex md-no-float>
                                    <input placeholder="0" type="number" step="1" min="0" max="59" ng-model="hoursToWork.minutes" ng-change="setHoursToWork()">
                                    <div class="hint">Minutes</div>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Global Settings">
                    <md-content class="md-padding">
                        <div class="md-subhead">Default Values</div>
                        <div layout-gt-xs="row">
                            <div layout="row">
                                <md-input-container class="small-input" flex md-no-float>
                                    <label>Pause Time</label>
                                    <input placeholder="0" type="number" step="1" ng-model="globalSettings.defaultTimeOff.hours" ng-change="setDefaultTimeOff()">
                                    <div class="hint">Hours</div>
                                </md-input-container>
                                <md-input-container class="small-input" flex md-no-float>
                                    <input placeholder="0" type="number" step="1" min="0" max="59" ng-model="globalSettings.defaultTimeOff.minutes" ng-change="setDefaultTimeOff()">
                                    <div class="hint">Minutes</div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container class="small-input" flex md-no-float>
                                    <label>Hours to work</label>
                                    <input placeholder="0" type="number" step="1" ng-model="globalSettings.defaultHoursToWork.hours" ng-change="setDefaultHoursToWork()">
                                    <div class="hint">Hours</div>
                                </md-input-container>
                                <md-input-container class="small-input" flex md-no-float>
                                    <input placeholder="0" type="number" step="1" min="0" max="59" ng-model="globalSettings.defaultHoursToWork.minutes" ng-change="setDefaultHoursToWork()">
                                    <div class="hint">Minutes</div>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="md-subhead">Timesheet Hero v{{appVersion}}</div>
                        <div layout-gt-xs="row">
                            <md-button class="md-raised md-primary" ng-click="checkForUpdates()" ng-disabled="checkingForUpdates">{{checkingForUpdates ? 'Checking...' : 'Check for updates'}}</md-button>
                        </div>
                        <span ng-if="showUpdateNotAvailable">You have the latest version installed!</span>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close()" >
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
  </md-dialog>