<md-dialog aria-label="Day Details">
    <md-toolbar ng-cloak class="toolbar-drag">
        <div class="md-toolbar-tools">
            <h2>Week Plan</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content" ng-cloak>
        <div layout="column" layout-align="space-between center">
            <md-progress-linear ng-class="round(totalTime(), 2) > round(hoursToWork.time, 2) ? 'md-warn' : 'md-accent'" md-mode="determinate" value="{{(totalTime()/hoursToWork.time)*100}}"></md-progress-linear>
            <h3 md-colors="{color: round(totalTime(), 2) > round(hoursToWork.time, 2) ? 'default-warn' : 'default-grey-50'}" >Total: {{totalTime() | formatHours}} of {{hoursToWork.time | formatHours}}</h3>
            <small ng-show="globalSettings.weekPlanMode === 'auto'">Your week plan is set to adjust automatically based on your hours left.</small>
            <div layout="row" layout-align="space-between center">
                <div ng-repeat="dayPlan in weekPlan" class="weekplan-slider-container">
                    <md-slider-container class="week-plan-slider-container" ng-disabled="globalSettings.weekPlanMode === 'auto'">
                        <h3>{{dayPlan.time | formatHours}}</h3>
                        <md-slider ng-model="dayPlan.time" min="0" max="14" step="0.083333" class="md-accent" md-vertical md-range ng-change="saveWeekPlan()" aria-label="Time planned for {{dayPlan.date.format('dddd')}}"></md-slider>
                    </md-slider-container>
                    <h5>{{dayPlan.date.format('dddd')}}</h5>
                    <md-switch ng-model="dayPlan.useDay" ng-change="saveWeekPlan()" ng-show="globalSettings.weekPlanMode === 'auto'"></md-switch>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" ng-cloak>
        <span flex></span>
        <md-button ng-click="close()" >
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>